.CMakeLists.txt.swp
CMakeFiles/TextAdventure.vpk.dir/progress.make
cmake_install.cmake


CMakeLists.txt.bkup
Makefile
TextAdventure
TextAdventure.self.out
TextAdventure.vpk
TextAdventure.self
TextAdventure.velf
TextAdventure.vpk_param.sfo
TextAdventure.vpk.out
Makefile
CMakeCache.txt
CMakeFiles/*
build/CMakeFiles/*
CMakeFiles/TextAdventure.dir*
src/.vscode/c_cpp_properties.json
src/.vscode/settings.json
